body {
    margin: 1;
    max-width: 50em;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

.about-block {
    background-color: tomato;
    color: white;
    padding: 10px;
}

.about-text {
    width: 60%;
    background-color: white;
    color: black;
    border: none;
}

.about-image {
    width: 40%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}