:root {
  --accent-color: #444444; /* Blue */
}

body {
  max-width: 95em;
  margin: 0 auto; /* Set left and right margins to auto */
}

h1 {
  font-family: Hoefler Text, "Georgia", serif;
  font-weight: 500;
  font-size: 20px;
}

h2 {
  font-family: Hoefler Text, "Georgia", serif;
  font-weight: 1000;
  font-size: 14px;
}

p1 {
  font-family: DejaVu Sans Mono, serif;
  font-size: 15px;
}

p2 {
  font-size: 12px;
  font-family: Courier, Helvetica, sans-serif;
}

p3 {
  font-size: 18px;
  font-family: Optima, Helvetica, sans-serif;
}

p {
  font-weight: 200;
  font-size: 15px;
  font-family: Optima, Arial, monospace;
}

.page {
    display: block;
    margin: 0 auto;
    padding: .90em;
    page-break-after: always; 
}

.resume-element{
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}

.about-block {
  background-color: white;
  /* background-color: tomato; */
  color: white;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
}

.about-text {
  width: 60%;
  background-color: white;
  color: black;
  border: none;
}

.about-image {
  width: 30%;
  height:100%;
  display: flex;
  object-fit: cover; /* Maintain aspect ratio */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: white; /* Green */
  border: solid black;
  color: black;
  padding: 6px 10px;
  padding-bottom: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  font-family: Hoefler Text, "Georgia", serif;
}

.button:hover {
  background-color: lightgray;
  border: solid gray;
  border-radius: 4px;
  padding-bottom: 2px;
  /* color: white; */
}



.navbar {
  overflow: hidden;
  background-color: white;
  font-family: Hoefler Text, "Georgia", serif;
}

.navbar-pages a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  align-content: right;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: gray;
}

.navbar a:active {
  color: black;
}












.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}



.project-block {
  border: solid black;
  /* border-radius: 20px; */
  background-color: white;
  color: white;
  cursor: pointer;
  /* border-radius: 20px; */
  width: 32%;
  justify-content: space-between;
  /* padding: 10px; */
  margin: 20px auto; /* Set left and right margins to auto */
}

/* .project-block:hover {
  background-color: white;
  color: white;
} */

.project-img {
  max-width: 100%;
}

.project-txt {
  background-color: white;
  color: black;
  border: none;
  padding: 15px;
}



/* Media query for small screens */
@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column; /* Stack items vertically */
  }
  .about-block{
    padding: 0px;
  }

  .about-image,
  .about-text {
    width: 100%; /* Make both the image and text take full width */
  }
}



/* Media query for small screens */
@media only screen and (max-width: 768px) {
  .project-block {
    flex-direction: column; /* Stack items vertically */
  }

  .project-image,
  .project-text {
    width: 100%; /* Make both the image and text take full width */
  }
}